@{
    @model Omazon.Models.ProductoModel
    ViewData["Title"] = "Home Page";

}
<div class="m-1 bg-dark text-light rounded">
    <h1 class="text-center">Omazon.com</h1>
    <h4 class="p-2">Inicio</h4>
</div>
<form class="m-1" method="get" asp-controller="Producto" asp-action="BusquedaProducto">
    <div class="input-group">
        <span class="input-group-text">Nombre</span>
        <input type="text" class="form-control" asp-for="@Model.NombreProducto" placeholder="">
        <button class="btn btn-outline-secondary bg-primary text-white" type="submit">Buscar</button>
    </div>
</form>

<div class="row m-1">
    @foreach (ProductoModel producto in ViewBag.Productos)
    {
        string imagenRuta = "/Imagenes/" + @producto.RutaImagen; 
        <form method="get" asp-controller="Producto" asp-action="Ver" class="col-sm-3 my-3">

            <div class="card">
                <img src=@imagenRuta class="card-img-top" alt="foto-producto-de-limpieza" height="250">
                <div class="card-body">
                    <h5 class="card-title">@producto.NombreProducto</h5>
                    <h3> Precio : @producto.Precio US$</h3>
                    <div class="row d-flex">
                        <input type="number" id="cantidad" class="form-control-sm col-4 m-auto" value="1" />
                        <button type="button" id="btnCarrito" onclick="agregarACarrito(); return false;" class="btn btn-info text-white col-7 m-auto">Agregar al carrito</button>
                    </div>
                </div>
                <div class="card-footer row d-flex justify-content-end m-0">
                    <input type="hidden" id="idProducto" asp-for="@Model.IdProducto" value="@producto.IdProducto" />
                    <input type="hidden" asp-for="@Model.NombreProducto" value="@producto.NombreProducto" />
                    <input type="hidden" asp-for="@Model.Stock" value="@producto.Stock" />
                    <input type="hidden" id="precio" asp-for="@Model.Precio" value="@producto.Precio" />
                    <input type="hidden" asp-for="@Model.NombreProveedor" value="@producto.NombreProveedor" />
                    <input type="hidden" asp-for="@Model.NombreCategoria" value="@producto.NombreCategoria" />
                    <input type="hidden" asp-for="@Model.RutaImagen" value="@producto.RutaImagen" />
                    <button type="submit" class="btn btn-primary col-4">Ver</button>
                </div>
            </div>

        </form>
    }
</div>
