



<form method="POST">
    <div class="table-responsive">
        <table id="table" class="table">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Sub Total</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="tbody">
                @if (ViewBag.Carrito != null)
                {
                    List<ProductoModel> productos = ViewBag.Carrito.Productos;
                    @foreach (ProductoModel producto in productos)
                    {
                        <tr class="text-center" id="row-@producto.IdProducto">
                            <td>@producto.NombreProducto</td>
                            <td>@producto.Cantidad</td>
                            <td>@producto.Precio US$</td>
                            <td>@producto.SubTotal</td>
                            <td class="text-center"><button id="eliminar" type="button" class="btn btn-danger text-center" onclick="eliminarDeCarrito(@producto.IdProducto); return false;">x</button></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot id="tfoot">
                <tr>
                    <td></td>
                    <td></td>
                    <td>Precio total:</td>
                    @if (ViewBag.Carrito != null)
                    {
                        <td id="precio">@ViewBag.Carrito.PrecioTotal US$</td>
                    }
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="button" class="text-center">
        <button type="button" class="mb-4 btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkOutModal">Comprar</button>
    </div>
</form>


<div class="modal fade" id="checkOutModal" tabindex="-1" aria-labelledby="checkOutModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 order-md-1">
                        <form method="POST" action="?controller=Customer&action=purchaseProducts">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" required="">
                                    <div class="invalid-feedback"> Valid first name is required. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" required>
                                    <div class="invalid-feedback"> Valid last name is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                <input type="email" class="form-control" placeholder="you@example.com">
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name">Name on card</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Credit card number</label>
                                    <input type="text" class="form-control" placeholder="0000-0000-0000-0000" required>
                                    <div class="invalid-feedback"> Credit card number is required </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">Expiration</label>
                                    <input type="text" class="form-control" placeholder="mm/yy" required>
                                    <div class="invalid-feedback"> Expiration date required </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cc-cvv">CVV</label>
                                    <input type="text" class="form-control" placeholder="123" required>
                                </div>
                            </div>
                            <div class="modal-footer p-0 pt-3">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button id="btn_confirm-purchase" type="button" data-bs-dismiss="modal" class="btn btn-primary btn-block">Confirm purchase</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>