


<div class="row col-12">
    <div class="col-6">
        @*@{
            string imagenRuta = "/Imagenes/" + ViewBag.Producto.NombreProducto + ".png";
        }*@
        <img src="~/Imagenes/@ViewBag.Producto.RutaImagen" class="img-fluid" alt="Imagen de @ViewBag.Producto.NombreProducto">
    </div>
    <div class="col-6 d-inline mb-2">
        <p class="p-3 bg-light">
            <a class="text-primary text-decoration-none">Nombre</br></a>
            <a class="mb-2 text-decoration-none text-dark">@ViewBag.Producto.NombreProducto</br></a>
            <a class="text-primary text-decoration-none">Descripción</br></a>
            <a class="mb-2 text-decoration-none text-dark"></br></a>
            <a class="text-primary text-decoration-none">Disponibles en stock</br></a>
            <a class="mb-2 text-decoration-none text-dark">@ViewBag.Producto.Stock</br></a>
            <a class="text-primary text-decoration-none">Calificación</br></a>
            <a class="mb-2 text-decoration-none text-dark"></br></a>
        </p>
        <h3 class="text-center text-success">Precio: @ViewBag.Producto.Precio US$</h3>

        <form class="text-center mt-4" method="post" >
            <input type="text" name="id" value="@ViewBag.Producto.IdProducto" hidden>
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" value="1" required="true">
            <button type="submit" class="btn btn-primary p-1 m-2">Comprar</button>
            <button type="button" onclick="agregarACarrito(); return false;" class="btn btn-info m-2">Agregar al carrito</button>
        </form>

    </div>
</div>
